body {
    background-image: url('./media/watercolor_bg.png');
    background-repeat: repeat-y;
    background-size: cover;
    font-size: 2rem;
    line-height: 2;
}

main div {
    background-color: #FFF;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #888888;
}

main img {
    box-shadow: 5px 5px 5px #888888;
    display: block;
    height: auto;
    width: 50%;
    margin: 1em auto;
}

main p {
    text-align:justify;
    margin: 1em 10%;
}

main h1 {
    text-align:justify;
    margin: 2% 10%;
}

main h2 {
    text-align:justify;
    margin: 2% 10%;
}

main table {
    margin: auto 10%;
    border-collapse: collapse;
    width: 75%;
    margin-bottom: 10%;
}

details {
    margin: 1em 10%;
}

figcaption {
    text-align:center;
    margin: 0 10%;
}

video {
    box-shadow: 5px 5px 5px #888888;
    display: block;
    height: auto;
    width: 50%;
    margin: 1em auto;
}

.topbar {
    background-color: #000;
}

.nav-link {
    color: white;
}

.active {
    font-weight: bolder;
}

.mb-3 label {
    margin-left: 1%;
}

.checkbox label {
    margin-left: 2px;
}

.btn-dark {
    font-size: 2rem;
    margin:1rem;
    color: white;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

main a:link {
  color: #0000ff;
}

main a:visited {
  color:#3c3cff;
}

main a:hover {
  color: red;
}

main a:active {
  color: yellow;
} 
