body {
    background-image: url('./media/watercolor_bg.png');
    background-repeat: repeat-y;
    background-size: cover
}

main div {
    background-color: #FFF;
    border: 1px solid black;
}

main img {
    box-shadow: 5px 5px 5px #888888;
}

.topbar {
    background-color: #000;
}

.illust-resp {
height: auto;
width: 75%
}
